<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThanhThanh.Properties.Settings.QLCuocDTConnectionString"
            connectionString="Data Source=DESKTOP-213LDD7\SQLEXPRESS;Initial Catalog=QLCuocDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThanhThanh.Properties.Settings.QLCuocDTConnectionString1"
            connectionString="Data Source=DESKTOP-3MGMVIV;Initial Catalog=QLCuocDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ThanhThanh.QLCDTService">
                <endpoint address="" binding="basicHttpBinding" contract="ThanhThanh.IQLCDTService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/ThanhThanh/QLCDTService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>